
body {
  margin: 35px;
  background-color: #060D12;
}

#main {
  font-family: fantasy;
  text-align: center;
  padding: 20%;
  color:white;
}

#console-one-hidden {
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}

#switch-one-hidden{
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}

#console-two-hidden {
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}

#switch-two-hidden{
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}
