#console-one-hidden {
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}

#switch-one-hidden{
  display: none;
  font-family: fantasy;
  text-align: center;
  color:white;
}
